<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>
<body>
<div th:include="fragments/topmenu :: header"></div>

<div class="page">
    <div class="error" th:if="${error}" th:text="${error}"></div>
    <div class="flex-container">
        <div class="flex-left">
        </div>
        <div class="flex-center">
            <h3>YouSpace</h3>
            This is a simple blog.
        </div>
        <div class="flex-right">
        </div>
    </div>
</div>
</body>
</html>
