<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>
<body>
<div th:include="fragments/topmenu :: header"></div>

<div class="page">
    <div class="error" th:if="${error}" th:text="${error}"></div>
    <div class="flex-container">
        <div class="flex-left">
        </div>
        <div class="flex-center">
            <div class="post-edit">
                <form th:action="@{'/edit/'+${post.id}}" method="POST">
                    <dl>
                        <dt>Title:</dt>
                        <dd><input type="text" id="title" name="title"  th:placeholder="${post.title}" th:value="${post.title}"></dd>
                        <dt>Text:</dt>
                        <dd><textarea rows="5" cols="70" id="text" name="text" th:placeholder="${post.text}" th:defaultValue="${post.text}"></textarea></dd>
                        <dd><input type="submit" value="Edit"></dd>
                    </dl>
                </form>
                <form th:action="@{'/remove/'+${post.id}}" th:id="${post.id}" method="POST">
                    <input type="submit" value="Delete" class="btn">
                </form>
            </div>
        </div>
        <div class="flex-right">
        </div>
    </div>
</div>
</body>
</html>
